body {
    margin: 0;
    font-family: "Inter";
    color: white;
    background-color: black;
}

.mainPage {
    height: 100vh;
    position: relative;
}

.mainBubble {
    border-radius: 50px;
    position: absolute;
    left: 30%;
    top: 50%;
    width: 75%;
    height: 80%;
    transform: translate(-30%, -50%);
    border: 2px solid white;
    overflow: hidden;
}

.mainHeader {
    font-size: 35px;
    position: absolute;
    left: 10%;
    top: 20%;
    font-weight: 500;
    width: 40%;
    line-height: 50px;
    letter-spacing: 3px;
}

.mainText {
    font-size: 13px;
    width: 30%;
    opacity: 0.9;
    position: absolute;
    left: 10%;
    top: 68%;
    opacity: 0.7;
}

.mainBtn {
    border-radius: 20px;
    width: 15%;
    height: 6%;
    border: none;
    background: linear-gradient(90deg, white, black);
    background-size: 200% 100%;
    position: absolute;
    font-size: 16px;
    top: 75%;
    left: 10%;
    cursor: pointer;
    background-position: right;
    transition: background-position 0.5s ease-in-out;
}

.mainBtn:hover {
    background-position: left;
}

.mainMore {
    font-size: 15px;
    position: absolute;
    left: 30%;
    top: 78%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.mainMore:hover {
    letter-spacing: 2px;
}

.mainVideo {
    position: absolute;
    left: 55%;
    height: 80vh;
}

.links {
    position: fixed;
    z-index: 999;
    right: 5%;
    top: 5%;
    text-align: center;
    line-height: 30px;
}

.link {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.abtUsSec {
    height: 100vh;
    position: relative;
    margin-top: 10%;
}

.abtH1 {
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 300;
    position: absolute;
    left: 10%;
    top: 25%;
    width: 45%;
    z-index: 9999;
}

.abtText {
    position: absolute;
    top: 45%;
    opacity: 1;
    font-weight: 100;
    left: 10%;
    font-size: 15px;
    line-height: 20px;
    z-index: 9999;
    letter-spacing: 1px;
}

.abtUsImg {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 30%;
    opacity: 0.2;
}

.navIcon {
    transition: all 0.5s ease-in-out;
    position: absolute;
    left: -30%;
}

.capDiv {
    height: 100vh;
    margin-top: 10%;
    background-color: black;
    position: relative;
}

.allCaps {
    position: absolute;
    top: 50%;
    width: 65%;
    transform: translateY(-50%);
    left: 10%;
}

.cap {
    width: 100%;
    margin-bottom: 30px;
    padding: 25px;
    padding-left: 30px;
    border-radius: 20px;
    border: 2px solid white;
    position: relative;
    cursor: pointer;
    color: white;
}



.cap:hover .capText {
    display: block;
    animation: opacityCh 0.5s forwards;
}

.cap:hover .goIcon {
    opacity: 1;
}

.cap:hover .capTitle::after {
    opacity: 1;
}

.capTitle {
    position: relative;
}

.capTitle::after {
    position: absolute;
    content: "";
    top: 110%;
    left: 0;
    width: 250px;
    height: 2px;
    background-color: white;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

@keyframes opacityCh {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

.capText {
    display: none;
    position: relative;
    transition: all 0.5s ease-in-out;
    margin-top: 20px;
    width: 50%;
    opacity: 2;
}

.capVideo {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.3;
}

.goIcon {
    transform: rotate(-45deg);
    position: absolute;
    right: 2%;
    top: 10%;
    font-size: 20px;
    transition: all 0.5 ease-in-out;
    opacity: 0;
}

.techDiv{
    height: 100vh;
    padding-top: 10%;
    position: relative;
}

.techBack{
    position: absolute;
    top: 0;
    opacity: 0.3;
}

.techImg{
    height: 50%;
    position: absolute;
    left: 10%;
    top: 60%;
    transform: translateY(-50%);
}

.techH1{
    position: absolute;
    top: 40%;
    right: 15%;
    font-size: 35px;
}

.techH1::after{
    content: "";
    position: absolute;
    top: 110%;
    height: 2px;
    width: 110%;
    right: 0;
    background-color: white;
}

.techText{
    position: absolute;
    text-align: right;
    width: 25%;
    top: 50%;
    right: 15%;
    line-height: 30px;
}

.AIback{
    opacity: 0.5;
}

.AIbubble{
    position: absolute;
    left: 50%;
    top: 60%;
    border-radius: 20px;
    border: 2px solid white;
    width: 80%;
    height: 80%;
    transform: translate(-50%,-60%);
    backdrop-filter: blur(5px);
}

.logo{
    position: absolute;
    right: 5%;
    top: 5%;
    font-weight: 600;
    font-size: 30px;
}

.AIchat{
    position: absolute;
    bottom: 10%;
    width: 65%;
    left: 50%;
    transform: translateX(-50%);
    height: 10%;
    backdrop-filter: blur(2px);
    background-color: #3E3D3D;
    border: none;
    border-radius: 20px;
    padding: 0 30px;
    outline: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
}

.AIchatTitle{
    position: absolute;
     bottom: 23%;
     font-weight: 200;
     letter-spacing: 1px;
     left: 16%;
}

.back{
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 999;
}

.send{
    position: absolute;
    right: 17%;
    bottom: 13.5%;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 60px;
  clip-path: inset(0 100% 0 0);
  animation: l5 1.5s steps(5) infinite;
}
.loader:before {
  content:"MyAI"
}
@keyframes l5 {to{clip-path: inset(0 -1ch 0 0)}}

.loaderImg{
    position: absolute;
    top: 0;
    width: 100vw;
    opacity: 0.2;
}

.startDiv{
    z-index: 9999;
}

.startText{
    position: absolute;
    left: 50%;
    top: 35%;
    z-index: 9999;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 300;
}


.startText::after{
    content: "";
    background-color: white;
    position: absolute;
    left: -40%;
    width: 180%;
    height: 1px;
    top: 160%;
}

.startQs{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 65%;
    height: 10%;
    top: 58%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;
}

.startQ{
    width: 30%;
    position: relative;
    height: 100%;
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.startQ:hover{
   background-color: #747474;
   border: 1px solid #747474;
}

@keyframes opacity {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

.user{
    position: relative;
    width: fit-content;
    left: 95%;
    transform: translateX(-95%);
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 2% 2%;  
    max-width: 35%;  
    animation: opacity 0.5s ease-in-out forwards;
    font-weight: 200;
}

.user::after{
    content: "";
    position: absolute;
    top: -20px;
    right: -30px ;
    background-color: black;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid white;
}

.bot{
    position: relative;
    width: fit-content;
    left: 5%;
    transform: translateX(-5%);
    background-color: #747474;
    font-weight: 200;
    border-radius: 10px;
    padding: 2%;
    max-width: 35%; 
    margin-top: 5%; 
    animation: opacity 0.5s ease-in-out forwards;
}

.bot::before{
    position: absolute;
    content: "AI";
    font-weight: 100;
    height: 20px;
    width: 20px;
    top: -25px;
    left: 5%;
}

.AImessages{
    position: absolute;
    left: 50%;
    top: 10%;
    width: 75%;
    height: 58%;
    overflow-y: auto;
    transform: translateX(-50%);
    padding-top: 2%;
    scrollbar-color: black transparent;
    overflow-x: hidden;
    padding-right: 10px;
}
