body{
    margin: 0;
    font-family: "Inter";
    color: white;
}

.mainPage{
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.mainBubble{
    border-radius: 50px;
    position: absolute;
    left: 30%;
    top: 50%;
    width: 75%;
    height: 80%;
    transform: translate(-30%,-50%);
    border: 2px solid white;
    overflow: hidden;
}

.mainHeader{
    font-size: 35px;
    position: absolute;
    left: 10%;
    top: 20%;
    font-weight: 500;
    width: 40%;
    line-height: 50px;
    letter-spacing: 3px;
}

.mainText{
    font-size: 13px;
    width: 30%;
    opacity: 0.9;
    position: absolute;
    left: 10%;
    top: 68%;
    opacity: 0.7;
}

.mainBtn {
  border-radius: 20px;
  width: 15%;
  height: 6%;
  border: none;
  background: linear-gradient(90deg, white, black);
  background-size: 200% 100%;
  position: absolute;
  font-size: 16px;
  top: 75%;
  left: 10%;
  cursor: pointer;
  background-position: right;
  transition: background-position 0.5s ease-in-out;
}

.mainBtn:hover {
    background-position: left;
}

.mainMore{
    font-size: 15px;
    position: absolute;
    left: 30%;
    top: 78%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.mainMore:hover{
    letter-spacing: 2px;
}

.mainVideo{
    position: absolute;
    left: 55%;
    height: 80vh;
}

.links{
    position: fixed;
    z-index: 999;
    right: 5%;
    top: 5%;
    text-align: center;
    line-height: 30px;
}

.link{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.abtUsSec{
    height: 100vh;
    background-color: black;
    position: relative;
}

.abtH1{
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 300;
    position: absolute;
    left: 10%;
    top: 25%;
    width: 45%;
    z-index: 9999;
}

.abtText{
    position: absolute;
    top: 45%;
    opacity: 1;
    font-weight: 100;
    left: 10%;
    font-size: 15px;
   line-height: 20px;
    z-index: 9999;
    letter-spacing: 1px;
}

.abtUsImg{
    width: 100%;
    height: 70%;
    position: absolute;
    top: 30%;
    opacity: 0.2;
}

.navIcon{
    transition: all 0.5s ease-in-out;
    position: absolute;
    left: -30%;
}

